body {
    font-family: cursive, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffe4f0 ;
}

header {
    background-color: #f37daf;
    padding: 20px 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}
h2{
    background-color: #f37daf;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: #333;
}

section {
    padding: 20px;
    text-align: center;
}

.product-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product {
    background-color: #f37daf;
    border: 1px solid #ddd;
    padding: 15px;
    width: 250px;
    border-radius: 8px;
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.iris{
    color: black;
    text-align: center;

}
.leslie{
  color: white; 
}
.leslie:hover{
  color: #ff026d; 
}
button {
    background-color: #ff026d;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    font-size: 16px;
}
#cart-items div {
    margin-bottom: 15px; /* Espacio entre los elementos del carrito */
}
button:hover {
    background-color: #ffa1a1;
}
.logo {
    width: 50px;
}
